.main {
  display: flex;
  height: 98vh;
  justify-content: center;
  align-items: center;
  background-color: gray;
  overflow: hidden;
}

.test {
  display: flex;
  background-color: rgb(186, 206, 224);
  height: 90vh;
  width: 28vw;
  min-height: 650px;
  min-width: 350px;
  border-radius: 5px;
  flex-direction: column;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.topContainer {
  display: flex;
  height: 13vh;
  width: 100%;
  border-radius: 5px 5px 0px 0px;
  flex-direction: column;
}

.topMenuBar {
  display: flex;
  height: 5vh;
  width: 95%;
  margin-top: 4vh;
  align-items: center;
  margin-left: 15px;
}

.profileImg {
  height: 43px;
  width: 43px;
  border-radius: 32%;
  border: 1px solid rgb(140, 192, 209);
}

.chatbody {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
}

.chatbody {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.chatbody::-webkit-scrollbar {
  display: none;
}

.opponentName {
  padding-left: 10px;
  letter-spacing: -1px;
  font-size: 16px;
}

.memberNumber {
  padding-left: 10px;
  font-size: 11px;
}

.bottombar {
  display: flex;
  background-color: white;
  border-radius: 0px 0px 5px 5px;
  height: 17vh;
  width: 100%;
  bottom: 0;
  left: 0;
  flex-direction: column;
}

.inputContainer {
  display: flex;
  width: 100%;
  height: 65%;
  padding-top: 12px;
  padding-left: 12px;
  font-size: 13px;
}

.inputContainer:focus {
  outline: none;
}

.bottomMenu {
  display: flex;
  width: 100%;
  height: 35%;
  justify-content: flex-end;
}

.sendButton {
  background-color: rgb(255, 235, 51);
  border: none;
  margin-right: 10px;
  margin-bottom: 8px;
  border-radius: 3px;
  font-size: 12px;
  width: 55px;
  height: 33px;
  cursor: pointer;
}

.sendButton:hover {
  background-color: rgb(250, 218, 10);
}

.rightChatContainer {
  display: flex;
  min-height: 35px;
  justify-content: flex-end;
  align-items: center;
  padding-right: 35px;
  position: relative;
  margin: 2px;
  margin-bottom: 3px;
}

.rightChatBox {
  background-color: rgb(255, 235, 51);
  padding: 8px 9px 8px 8px;
  font-size: 12px;
  border-radius: 3px;
  position: relative;
}

.rightChatBox::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -4px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 10px solid rgb(255, 235, 51);
  border-bottom: 10px solid transparent;
  transform: translateY(-65%) rotate(270deg);
  border-radius: 3px;
}

.leftChatContainer {
  display: flex;
  min-height: 35px;
  justify-content: flex-start;
  align-items: center;
  padding-left: 15px;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
}

.leftChatInnerContainer {
  display: flex;
  flex-direction: column;
}

.leftNameBox {
  margin-left: 13px;
  margin-bottom: 5px;
  font-size: 12px;
}

.leftChatBox {
  margin-left: 13px;
  background-color: white;
  padding: 8px 8px 8px 9px;
  font-size: 12px;
  border-radius: 3px;
  position: relative;
}

.leftChatBox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -4px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 10px solid white;
  border-bottom: 10px solid transparent;
  transform: translateY(-65%) rotate(90deg);
  border-radius: 3px;
}

.profileImgInChat {
  height: 43px;
  width: 43px;
  border-radius: 32%;
  border: 1px solid rgb(140, 192, 209);
}

.chatBoxWithTime {
  display: flex;
}

.createAtBox {
  margin-top: 15px;
  margin-left: 5px;
  font-size: 10px;
}
